<% if(locals.validationErrors) { %>
    <ul class="errors">
        <h4 class="title">
            There are some problems with the followin fields, please correct them.
        </h4>
        <% validationErrors.forEach((error) => { %>
            <li class="error">
                <%= error.msg %>
            </li>
        <% }) %>
    </ul>
<% } %>
