<footer class="footer">
    <p class="author">
        Ignacio Gandur
    </p>
    <div class="vertical-separator">
    </div>
    <span class="material-symbols-rounded">
        favorite
    </span>
    <div class="vertical-separator">
    </div>
    <p class="top">
        The Odin Project
    </p>
</footer>
