<dialog class="edit-folder-dialog">
    <form
        action=""
        method="POST"
        class="edit-folder-form"
    >
        <label for="updatedFolderName">
            New folder name
            <input 
                type="text"
                name="updatedFolderName"
                id="updatedFolderName"
                class="updated-folder-name"
            >
        </label>
        <p>
        </p>
        <p>
        </p>
        <button type="submit">
            Update
        </button>
        <button type="button">
            Cancel
        </button>
    </form>
</dialog>
<div class="folders">
    <h2>Folders</h2>
    <% if(locals.userFolder.folders.length > 0) { %>
        <div class="folders-container">
            <% userFolder.folders.forEach((folder) => { %>
                <a 
                    class="folder"
                    href="/my-storage/folders/<%= folder.name %>"
                >
                    <div class="icon">
                        <span class="material-symbols-rounded">
                            folder
                        </span>
                        <p>
                            <%= folder.name %>
                        </p>
                    </div>
                </button>
            <% }) %>
        </div>
    <% } else { %>
        <h3>You don't have any folders yet.</h3>
    <% } %>
</div>
