<div class="files">
    <h2>Files</h2>
    <% if(files.length > 0) { %>
        <div class="files-container">
            <% files.forEach((file) => { %>
                <a 
                    class="file"
                    href="/my-storage/files/<%= file.name %>"
                >
                    <div class="icon">
                        <span class="material-symbols-rounded">
                            description
                        </span>
                    </div>
                    <p class="filename">
                        <%= file.name %><%= file.fileExtension %>
                    </p>
                </a>
            <% }) %>
        </div>
    <% } else { %>
        <h3>You don't have any files yet.</h3>
    <% } %>
</div>
