*,
*::after,
*::before {
    /*border: 1px solid red;*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    background-color: black;
    color: white;
}

body {
    display: flex;
    font-family: var(--font);
}

.material-symbols-rounded {
    font-weight: 100 !important;
}
