.login {
    flex: 1;
    display: flex;
    flex-direction: column;

    .horizontal-navbar {
        justify-content: center;
    }

    .content {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .login-form {
            display: flex;
            flex-direction: column;
            gap: var(--gap-big);
            border: var(--border);
            padding: calc(var(--padding-big) * 2);
            border-radius: var(--button-border-radius);

            h1 {
                font-size: var(--font-size-big);
            }

            h2 {
                font-size: var(--font-size-small);
                font-weight: 400;
                color: #ffffff99;
            }

            /*.input-field {*/
            /*    display: flex;*/
            /*    flex-direction: column;*/
            /*    gap: calc(var(--gap-small) / 2);*/
            /**/
            /*    .label {*/
            /*        font-weight: 900;*/
            /*        font-size: var(--font-size-small);*/
            /*    }*/
            /**/
            /*    .icon-and-input {*/
            /*        display: flex;*/
            /*        gap: var(--gap-small);*/
            /*        align-items: center;*/
            /*        border-radius: var(--button-border-radius);*/
            /*        border: var(--border);*/
            /*        overflow: hidden;*/
            /*        padding: var(--padding-small);*/
            /*        transition: var(--transition);*/
            /**/
            /*        .icon {*/
            /*            display: flex;*/
            /*            align-items: center;*/
            /*            justify-content: center;*/
            /*            padding: var(--padding-small);*/
            /**/
            /*            span {*/
            /*                font-size: 2rem;*/
            /*            }*/
            /*        }*/
            /**/
            /*        .input {*/
            /*            height: 100%;*/
            /*            width: 100%;*/
            /*            background-color: black;*/
            /*            border: none;*/
            /*            color: white;*/
            /*            font-size: 1rem;*/
            /*            padding: var(--padding-average);*/
            /*            outline: none;*/
            /*        }*/
            /**/
            /*        .button {*/
            /*            border: 2px solid transparent;*/
            /*            padding: 0;*/
            /*            display: flex;*/
            /*            align-items: center;*/
            /*            justify-content: center;*/
            /*        }*/
            /*    }*/
            /**/
            /*    .icon-and-input:has(input:focus-visible),*/
            /*    .icon-and-input:hover {*/
            /*        border: var(--border-hovered);*/
            /*    }*/
            /**/
            /*    .icon.show-password-icon {*/
            /*        button {*/
            /*            background-color: transparent;*/
            /**/
            /*            span {*/
            /*                color: white;*/
            /*            }*/
            /*        }*/
            /*    }*/
            /*}*/
            .registered-message {
                background-color: var(--color-green-dimmed);
                border: var(--border);
                padding: var(--padding-big);
                border-radius: var(--button-border-radius);
                text-align: center;
            }

            .button {
                flex: 1;
                padding: var(--padding-average);
                background-color: white;
                font-weight: 600;
                color: black;
                font-size: 1rem;
                border: var(--border);
                border-radius: var(--button-border-radius);
            }

            .register-message {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #ffffff99;

                a {
                    color: #ffffff;
                }
            }
        }
    }
}
