.my-storage {
    display: flex;
    flex-direction: column;
    font-family: var(--font);
    flex: 1;

    > * {
        padding: var(--padding-average);
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: var(--font);

        h1 {
            font-size: 1.5rem;
        }

        .buttons {
            display: flex;
            align-items: center;
            gap: 1em;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5em;
                padding: 0.7em 1em;
                background-color: transparent;
                color: white;
                border-radius: var(--button-border-radius);
                border: 2px solid var(--color-white-dimmed);
                font-weight: 900;
                cursor: pointer;
                transition: var(--transition);
            }

            button:hover,
            button:focus-visible {
                border: 2px solid var(--color-main);
                box-shadow: var(--box-shadow);
            }
        }
    }

    .edit-file-dialog {
        .delete-file-form {
            display: none;
        }
        .delete-file-form.show {
            display: block;
        }
    }

    .files,
    .folders {
        display: flex;
        flex-direction: column;
        gap: var(--gap-average);

        .title {
            font-size: var(--font-size-medium);
        }

        .files-container,
        .folders-container {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(7, auto);
            justify-content: space-between;
            align-items: center;
            gap: var(--gap-small);
            padding: 1em;
            border: 1px solid var(--color-white-dimmed);
            border-radius: 10px;

            .header {
                font-weight: 900;
                text-transform: capitalize;
            }

            .file,
            .folder {
                display: contents;
                color: white;

                .box {
                    width: 100% !important;
                    display: flex;
                    align-items: center;
                }

                .box.icon {
                    justify-content: center;

                    span {
                        font-size: 3rem;
                        color: white;
                    }
                }

                .box.files {
                    justify-content: center;
                }

                .box.options {
                    button {
                        background-color: transparent;
                        border: var(--border);
                        border-radius: calc(var(--button-border-radius) / 2);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: var(--transition);
                        cursor: pointer;

                        span {
                            color: white;
                        }
                    }

                    button:hover,
                    button:focus-visible {
                        border: var(--border-hovered);
                    }
                }
            }

            .separator {
                grid-column: 1 / -1;
                height: 1px;
                background-image: var(--radial-gradient-1);
            }
        }

        .folders-container {
            grid-template-columns: repeat(5, auto);
        }

        .empty-files,
        .empty-folders {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem;

            h3 {
                font-size: var(--font-size-small);
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .files,
    .folders {
        .files-container,
        .folders-container {
            grid-template-columns: repeat(5, auto) !important;
            justify-items: space-between;

            /*.header.extension,*/
            /*.header.mimetype,*/
            .header.uploaded-at,
            .header.updated-at,
            .header.created-at,
            .box.created-at,
            /*.box.extension,*/
            /*.box.mimetype,*/
            .box.uploaded-at,
            .box.updated-at {
                display: none !important;
            }
        }

        .folders-container {
            grid-template-columns: repeat(3, auto) !important;
        }
    }
}

@media screen and (max-width: 500px) {
    .my-storage {
        .header {
            flex-direction: column;
            align-items: stretch;
            gap: var(--gap-small);

            h1 {
                width: 100%;
                text-align: start;
            }

            .buttons {
                width: 100%;
                flex-direction: column;
                gap: var(--gap-small);

                button {
                    display: flex;
                    justify-content: start;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    align-items: center;
                    gap: var(--gap-small);

                    span.icon {
                        font-weight: 300 !important;
                    }
                }

                > * {
                    width: 100%;
                }
            }
        }

        .files,
        .folders {
            .files-container,
            .folders-container {
                grid-template-columns: repeat(3, auto) !important;

                .header.extension,
                .header.mimetype,
                .header.uploaded-at,
                .header.updated-at,
                .header.created-at,
                .box.created-at,
                .box.extension,
                .box.mimetype,
                .box.uploaded-at,
                .box.updated-at {
                    display: none !important;
                }
            }
        }
    }
}
