.register {
    flex: 1;
    display: flex;
    flex-direction: column;

    .horizontal-navbar {
        justify-content: center;
        align-items: center;
    }

    .content {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: var(--gap-small);
            padding: calc(var(--padding-big) * 2);
            border-radius: var(--button-border-radius);
            border: var(--border);

            .title {
                font-size: var(--font-size-medium);
            }

            .sub-title {
                font-size: var(--font-size-small);
                color: #ffffff99;
                text-align: center;
                font-weight: 400;
                margin-bottom: 1em;
            }

            .register-form {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: var(--gap-average);
            }

            .separator-message {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: var(--padding-average);
                position: relative;

                .line {
                    height: 1px;
                    background-color: #ffffff99;
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                .message {
                    color: #ffffff99;
                    background-color: black;
                    z-index: 50;
                    padding: var(--padding-small);
                }
            }
            .button.login {
                width: 100%;
                padding: var(--padding-average);
                background-color: white;
                font-weight: 600;
                color: black;
                border: var(--border);
                border-radius: var(--button-border-radius);
                text-align: center;
                text-decoration: none;
            }
        }
    }
}

.button {
    transition: var(--transition);
    cursor: pointer;
}

.button:hover,
.button:focus-visible {
    border: var(--border-hovered) !important;
}

@media screen and (max-width: 1000px) {
    .register {
        .content {
            .wrapper {
                border: none;
                padding: var(--padding-big);
                justify-content: center;
                gap: var(--gap-big);
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .register {
        .content {
            .wrapper {
                border: none;
                padding: var(--padding-big);
                justify-content: center;
                gap: var(--gap-big);
            }
        }
    }
}
