.input-field {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap-small) / 2);

    .label {
        font-weight: 900;
        font-size: var(--font-size-small);

        .detail {
            font-size: 0.75rem;
            color: #ffffff99;
        }
    }

    .icon-and-input {
        display: flex;
        gap: var(--gap-small);
        align-items: center;
        border-radius: var(--button-border-radius);
        /*border: var(--border);*/
        border: 2px solid var(--color-white-dimmed);
        overflow: hidden;
        padding: var(--padding-small);
        transition: var(--transition);

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: var(--padding-small);

            span {
                font-size: 2rem;
            }
        }

        .input {
            height: 100%;
            width: 100%;
            background-color: black;
            border: none;
            color: white;
            font-size: 1rem;
            padding: var(--padding-average);
            outline: none;
        }

        .button {
            border: 2px solid transparent;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .show-password-icon {
            .toggle-password-visibility {
                background-color: transparent;
                /*border: 1px solid transparent;*/
                border: none;
                padding: 0;
                color: white;
            }
        }
    }

    .icon-and-input:has(input:focus-visible),
    .icon-and-input:hover {
        /*border: var(--border-hovered);*/
        border: 2px solid var(--color-main);
    }
}

.label {
    font-weight: 900;
    font-size: var(--font-size-small);

    .detail {
        font-size: 0.75rem;
        color: #ffffff99;
    }
}

.input-field:has(input[type="text"]:user-invalid) > .icon-and-input {
    border: 2px solid var(--color-red);
}

.input-field:has(input[type="text"]:user-valid) > .icon-and-input {
    border: 2px solid var(--color-green);
}

.vertical-separator {
    min-width: 1px;
    width: 1px;
    height: 100%;
    background-color: var(--color-gray-link);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    padding: 0.7em 1em;
    background-color: transparent;
    color: white;
    border-radius: var(--button-border-radius);
    border: var(--border);
    font-family: var(--font);
    font-weight: 700;
    font-size: 0.9rem;
    cursor: pointer;
    transition: var(--transition);
}

.button:hover,
.button:focus-visible {
    border: var(--border-hovered);
}

.dialog {
    width: 75%;
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    color: white;
    background-color: transparent;
    border: none;

    .form {
        background-color: black;
        display: flex;
        flex-direction: column;
        gap: var(--gap-big);
        padding: calc(var(--padding-big) * 2);
        border-radius: var(--button-border-radius);
        border: var(--border);

        .rules {
            display: flex;
            flex-direction: column;
            gap: var(--padding-small);
            padding: var(--padding-average);
            border: var(--border);
            border-radius: var(--button-border-radius);
            background-color: var(--color-green-dimmed);

            .title {
                font-weight: 900;
            }

            .wrapper {
                display: flex;
                flex-direction: column;
                gap: var(--gap-small);
                padding: var(--padding-big);
            }
        }

        .buttons-container {
            display: flex;
            gap: var(--gap-small);

            > * {
                flex: 1;
            }

            button:disabled {
                background-color: var(--color-light-gray);
                border: 2px solid transparent;
            }
            button:disabled:hover {
                pointer-events: none;
                border: 2px solid transparent;
            }
        }

        .folders-section {
            display: flex;
            flex-direction: column;
            gap: var(--gap-small);

            .folders {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: var(--gap-average);

                .radio-button.option {
                    flex: 1;
                    width: fit-content;
                    padding: var(--padding-average);
                    border-radius: var(--button-border-radius);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    /*border: var(--border);*/
                    border: 2px solid var(--color-white-dimmed);
                    position: relative;
                    transition: var(--transition);

                    input {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        opacity: 0;
                    }

                    label {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: var(--gap-small);

                        .icon {
                            font-size: 3rem;
                        }
                    }
                }

                .radio-button.option:has(input[type="radio"]:checked) {
                    /*border: var(--border-hovered);*/
                    border: 2px solid var(--color-main);
                }
            }
        }

        .warning-message {
            font-weight: 900;
            font-size: 0.75rem;
            text-decoration: underline;
            text-align: center;
            color: var(--color-warning);
        }

        .buttons {
            display: flex;
            gap: var(--gap-average);

            > * {
                flex: 1;
            }

            .upload-file-input {
                padding: var(--padding-average);
                border: var(--border);
                border-radius: var(--button-border-radius);
                transition: var(--transition);
            }

            .upload-file-input:hover,
            .upload-file-input:focus-visible {
                /*border: var(--border-hovered);*/
                border: 2px solid var(--color-main);
            }

            .upload-file-input::file-selector-button {
                background-color: transparent;
                color: white;
                border: none;
                font-weight: 700;
            }

            .cancel-file-upload {
                position: absolute;
                top: var(--padding-big);
                right: var(--padding-big);

                .text {
                    display: none;
                }
            }
        }
    }
}

.dialog.create-folder-dialog {
    width: 50%;
}

.dialog.delete-file-dialog,
.dialog.update-file-dialog,
.dialog.update-folder-dialog,
.dialog.delete-folder-dialog {
    width: 25%;

    .form {
        padding: var(--padding-big);

        .buttons-container {
            gap: var(--gap-average);
        }
    }
}

.dialog::backdrop {
    background-color: #00000099;
}

@media screen and (max-width: 1000px) {
    .dialog {
        width: 100%;
        height: 100%;

        .form {
            width: 100%;
            height: 100%;
            justify-content: space-between;
        }
    }
    .dialog.create-folder-dialog {
        width: 100%;
        height: 100%;
    }

    .dialog.upload-file-dialog {
        .form.upload-file-form {
            height: initial;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .dialog.delete-file-dialog,
    .dialog.update-file-dialog,
    .dialog.update-folder-dialog,
    .dialog.delete-folder-dialog {
        width: 75%;

        .form {
            padding: var(--padding-big);
            justify-content: flex-start;

            .buttons-container {
                gap: var(--gap-average);
                margin-top: auto;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .dialog {
        width: 100% !important;
        height: 100%;

        .form {
            width: 100%;
            padding: var(--padding-average);

            .buttons {
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .cancel-file-upload {
                    position: relative;
                    top: initial;
                    right: initial;

                    .text {
                        display: block;
                    }
                    .icon {
                        display: none;
                    }
                }
            }
        }
    }

    .dialog.delete-file-dialog,
    .dialog.update-file-dialog,
    .dialog.update-folder-dialog,
    .dialog.delete-folder-dialog {
        width: 100%;

        .form {
            width: 100%;
            height: 100%;
            padding: var(--padding-big);

            .buttons-container {
                gap: var(--gap-average);
                margin-top: auto;
            }
        }
    }
}
