@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --color-dark-gray: #1f1f2d;
    --button-border-radius: 10px;
    --transition: all 200ms ease-in-out;
    --color-main: #00e0ff;
    --color-main-dimmed: #3d444d;
    --color-white: #ffffff;
    --color-dark-background: #181818;
    --color-light-gray: #232323;
    --color-white-dimmed: #3d444d;
    --color-error: #78000055;
    --font: "Roboto", serif;
    --font-size-small: 1rem;
    --font-size-medium: 1.5rem;
    --font-size-big: 2rem;
    --border-transparent: 2px solid transparent;
    --border: 2px solid var(--color-white-dimmed);
    --border-hovered: 2px solid var(--color-main);
    --padding-small: 0.3em;
    --padding-average: 0.75em;
    --padding-big: 1.25em;
    --gap-small: 0.5em;
    --gap-average: 1em;
    --gap-big: 1.5em;
    --box-shadow: 0px 0px 15px 2px var(--color-main-dimmed);
    --color-gray-link: #3d444d;
    --radial-gradient-1: radial-gradient(
        circle at center,
        var(--color-white-dimmed) 98%,
        transparent
    );
}
