.mobile-vertical-navbar {
    background-color: black;
    display: none;
}

.vertical-navbar {
    height: 100vh;
    background-color: black;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    align-items: center;
    padding: 0.5em;
    font-family: var(--font);
    border-bottom-color: var(--color-light-gray) !important;
    z-index: 10;
    border-right: 1px solid var(--color-white-dimmed);
    position: sticky;
    top: 0;
    left: 0;

    .link {
        display: flex;
        padding: 0.5em;
        align-items: center;
        justify-content: center;
        gap: 0.25em;
        text-decoration: none;
        font-size: 1rem;
        color: white;
        position: relative;
        transition: var(--transition);
        border-radius: calc(var(--button-border-radius) / 2);
        border: 2px solid transparent;

        .icon {
            font-size: 1.75rem;
            transition: var(--transition);
        }

        .text {
            position: absolute;
            left: -125%;
            white-space: nowrap;
            padding: 0.5em 1em;
            background-color: var(--color-main);
            opacity: 0;
            transition: var(--transition);
            border-radius: calc(var(--button-border-radius) / 2);
        }
    }

    .link.logout {
        position: absolute;
        bottom: 0.5em;
        left: 0.5em;
    }

    .link.active {
        background-color: var(--color-main);
        border: 2px solid white;

        .icon {
            font-variation-settings: "FILL" 1;
        }
    }

    .link:hover,
    .link:focus-visible {
        background-color: var(--color-main);
        border: 2px solid white;

        .text {
            left: 110%;
            opacity: 1;
            border: 2px solid white;
        }

        .icon {
            font-variation-settings: "FILL" 1;
        }
    }
}

@media screen and (max-width: 500px) {
    .mobile-vertical-navbar {
        background-color: black;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: var(--gap-small);
        padding: var(--gap-small);
        position: fixed;
        top: 50%;
        left: -50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        transition: all 400ms ease-in-out;

        .link {
            background-color: black;
            flex-direction: row-reverse;
            justify-content: space-between;
            border: var(--border);
            border-radius: var(--button-border-radius);
            text-decoration: none;
            color: white;
            display: flex;
            align-items: center;
            gap: var(--gap-small);
            padding: var(--padding-average);
            font-weight: 900;

            .icon {
                font-size: 2.5rem;
            }
        }

        .link.active,
        .link:hover,
        .link:focus-visible {
            background-color: var(--color-main);
            border: 2px solid white;

            .vertical-separator {
                background-color: white;
            }
        }
    }

    .mobile-vertical-navbar.show {
        left: 50%;
        z-index: 100;
    }

    .vertical-navbar {
        display: none;
    }
}
