<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Homepage | File Uploader</title>
        <link rel="stylesheet" href="/stylesheets/index.css">
        <link rel="stylesheet" href="/stylesheets/vertical-navbar.css">
        <link rel="stylesheet" href="/stylesheets/variables.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16" />
    </head>
    <body>
        <%- include("../partials/vertical-navbar.ejs") %>
        <h1>File Uploader</h1>
        <% if(locals.user) { %>
            <p>
                user logged
            </p>
        <% } %>
    </body>
</html>
