<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Login | File Uploader</title>
        <link rel="stylesheet" href="/stylesheets/index.css">
        <link rel="stylesheet" href="/stylesheets/vertical-navbar.css">
        <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <script defer src="/javascript/noTranslateGoogleIcons.js"></script>
    </head>
    <body>
        <%- include("../partials/vertical-navbar.ejs") %>
        <%- include("../partials/errors.ejs", {errors: locals.validationErrors}) %>
        <h1>Login</h1>
        <% if(locals.username) { %>
            <p>
                Please login <%= username %>
            </p>
        <% } %>
        <form
            action="/login"
            method="POST"
            class="login-form"
        >
            <label for="username">
                Username
                <input
                    type="text"
                    name="username"
                    id="username"
                    value="<%= locals.username ? locals.username : '' %>"
                />
            </label>
            <label for="password">
                Password
                <input
                    type="password"
                    name="password"
                    id="password"
                />
            </label>
            <button type="submit">Login</button>
        </form>
    </body>
</html>
