<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Login | File Uploader</title>
        <link rel="stylesheet" href="/stylesheets/index.css">
    </head>
    <body>
        <%- include("../partials/navbar.ejs") %>
        <%- include("../partials/errors.ejs", {errors: locals.validationErrors}) %>
        <h1>Login</h1>
        <% if(locals.username) { %>
            <p>
                Please login <%= username %>
            </p>
        <% } %>
        <form
            action="/login"
            method="POST"
            class="login-form"
        >
            <label for="username">
                Username
                <input
                    type="text"
                    name="username"
                    id="username"
                    value="<%= locals.username ? locals.username : '' %>"
                />
            </label>
            <label for="password">
                Password
                <input
                    type="password"
                    name="password"
                    id="password"
                />
            </label>
            <button type="submit">Login</button>
        </form>
    </body>
</html>
