<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Register | File Uploader</title>
        <link
            rel="stylesheet"
            href="/stylesheets/index.css"
        />
        <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16" />
    </head>
    <body>
        <%- include("../partials/navbar.ejs") %>
        <%- include("../partials/errors.ejs", {errors: locals.validationErrors}) %>
        <h1>Register</h1>
        <form
            action="/register"
            method="POST"
            class="register-form"
        >
            <label for="username">
                Username:
                <input
                    type="text"
                    name="username"
                    id="username"
                />
            </label>
            <label for="password">
                Password
                <input
                    type="password"
                    name="password"
                    id="password"
                />
            </label>
            <label for="confirm-password">
                confirm-password
                <input
                    type="password"
                    name="confirmPassword"
                    id="confirm-password"
                />
            </label>
            <button type="submit"> Register </button>
        </form>
    </body>
</html>
